@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.time {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.date {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#stage {
  background-color: white;
}